header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: position 0.2s; 
    -moz-transition: position 0.2s; 
    -ms-transition: position 0.2s; 
    -o-transition: position 0.2s; 
    transition: position 0.2s;
    border-top: 10px solid #d95930;
    @include responsive(lg) {
        background: $white;
    }
    @include responsive(xxxl) {
        border-top: 21px solid #d95930;
    }
    .navbar {
        padding: 20px 0;
        @include responsive(xxxl) {
            padding: 59px 0;
        }
        .navbar-brand {
            padding: 0;
            max-width: 150px;
            -webkit-transition: max-width 0.5s; 
            -moz-transition: max-width 0.5s; 
            -ms-transition: max-width 0.5s; 
            -o-transition: max-width 0.5s; 
            transition: max-width 0.5s; 
            @include responsive(lg) {
                /* height: 207px;
                overflow: hidden;
                -webkit-transition: height 0.5s; 
                -moz-transition: height 0.5s; 
                -ms-transition: height 0.5s; 
                -o-transition: height 0.5s; 
                transition: height 0.5s;  */
                max-width: 100%;
            }
            // .sticky-logo {
            //     display: none;
            // }
            img {
                height: 39px;
                -webkit-transition: height 0.5s; 
                -moz-transition: height 0.5s; 
                -ms-transition: height 0.5s; 
                -o-transition: height 0.5s; 
                transition: height 0.5s; 
                @include responsive(lg) {
                    height: 207px;
                }
            }
        }
        &.js-scrolling {
            .navbar-collapse {
                top: 21px;
            }
            .navbar-brand {
                max-width: 60%;
                -webkit-transition: max-width 0.5s; 
                -moz-transition: max-width 0.5s; 
                -ms-transition: max-width 0.5s; 
                -o-transition: max-width 0.5s; 
                transition: max-width 0.5s;
                @include responsive(lg) {
                    // height: 150px;
                    // -webkit-transition: height 0.5s; 
                    // -moz-transition: height 0.5s; 
                    // -ms-transition: height 0.5s; 
                    // -o-transition: height 0.5s; 
                    // transition: height 0.5s;
                    max-width: 100%;
                }
                // .sticky-logo {
                //     display: inline-block;
                // }
                img {
                    height: 30px;
                    -webkit-transition: height 0.5s; 
                    -moz-transition: height 0.5s; 
                    -ms-transition: height 0.5s; 
                    -o-transition: height 0.5s; 
                    transition: height 0.5s;
                    @include responsive(lg) {
                        height: 150px;
                    }
                }
            }
        }
        .navbar-toggler {
            &:focus,
            &:hover {
                border: 0;
                outline: 0;
            } 
            .navbar-toggler-icon {
                width: 20px;
                height: 17px;
                background-image: url(../images/hamburger.png);
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
            }
            &.active {
                .navbar-toggler-icon {
                    width: 11px;
                    height: 11px;
                    background-image: url(../images/close.png);
                }
            }
        } 
        .navbar-collapse {
            margin: 19px 0 0;
            background: $black;
            position: absolute;
            top: 60px;
            left: -40px;
            right: -40px;
            @include responsive(lg) {
                margin: 0;
                padding: 0;
                position: static;
                background-color: transparent;
            }
            .navbar-nav {
                display: block;
                @include responsive(lg) {
                    display: flex;
                    margin: 20px 0 0;
                }
                @include responsive(xl) {
                    margin: 0;
                }
                .nav-item {
                    padding: 5px 35px;
                    @include responsive(lg) {
                        padding: 0 10px;
                    }
                    @include responsive(xl) {
                        padding: 0 15px;
                    }
                    .nav-link {
                        padding: 0;
                        color: $white;
                        font-size: 17.22px;
                        line-height: 20px;
                        font-weight: 400;
                        text-transform: uppercase;
                        @include responsive(lg) {
                            font-size: 13px;
                            line-height: 24px;
                            margin: 0 0 5px;
                            color: $primary_color;
                        }
                        @include responsive(xl) {
                            margin: 0;
                            font-size: 14px;
                            line-height: 24px;
                        }
                        &:hover {
                            color: #d95930;
                        }
                    }
                    &.active {
                        .nav-link {
                            color: #d95930;
                        }
                    }
                }
            }
        }
    }
    &.fixed {
        background: $white;
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
        .navbar {
            padding: 5px 0;
            @include responsive(xl) {
                padding: 5px 0;
            }
        }
    }
}